/* font  */
body{
    font-family: 'Work Sans', sans-serif;

}
/* font  */
/* Common Css */
* {
    margin: 0px;
}
/* Common Css */

/* main */
main {

    max-width: 1140px;
    margin: 0 auto;

}

header {

    max-width: 100%;
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.1);
}

/* Nav Bar Start  */

.nav-item {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;


}

.nav-item ul {
    display: flex;
}

.nav-item ul li {
    margin-left: 40px;
    list-style: none;
}
/* Nav Bar End  */

/* Banner Start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.banner-item {
    text-align: center;

}

.banner-title {
    margin-top: 35px;
    font-size: 64px;
    line-height: 75px;
}

.banner-description {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    max-width: 868px;
    height: 52px;
}

.banner-btn,
.features-btn {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    color: #FFFFFF;


    margin-bottom: 52px;
}

.banner-img {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 81%;
    height: 700px;

    border-radius: 8px;
}
/* Banner End */

/* ---------------container------------ */


/* Quick list of Our Features Start */
.quick-ours-features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    gap: 73px;
}

.ours-feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.ours-feature-img img {
    width: 342px;
    height: 342px;
}

.features-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;

}

.first-color {
    color: #131313;
}

.second-color {
    color: #FF900E;

}

.features-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 25px 0px;
}
/* Quick list of Our Features End */

/* Features you will love & enjoy Start */
.love-and-enjoy {
    display: flex;
    margin-top: 130px;
    gap: 24px;
    position: relative;


}

.love-enjoy-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 5px solid#FF900E;
    padding-left: 20px;
}

.love-enjoy-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 26px auto;
}

.love-enjoy {
    max-width: 586px;
    /* height: 171px; */
    margin-top: 30px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.another-love-enjoy {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
}

.love-enjoy-menu {
    margin-top: 10px;
}


.love-and-enjoy-img {
    max-width: 800px;
    height: 1059px;
    position: relative;
    top: 0;
    left: 0;
}

.love-and-enjoy-img img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 982px;
    object-fit: cover;
    padding: 0 0 10px 10px;

}

.btn {
    position: absolute;
    bottom: 0;
    left: -70px;
    width: 342px;
    height: 150px;

    background: #FF900E;
    border-radius: 8px;
    border: 0;
    text-align: center;
    padding: 20px;


}

.btn span {
    margin-top: 100px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.btn p {
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
    color: #FFFFFF;

}
/* Features you will love & enjoy End */

/* Some Facts Start */


.fact-title {
    margin-top: 130px;
}

.facts-description {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 542px;
    height: 52px;
}

.fact-cards {
    display: flex;
    justify-content: space-around;
}

.cards-item:hover {
    box-shadow: 0px 0px 13px 10px #f1f1f1;

}

.cards-item {
    margin-top: 100px;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    flex-direction: column;
    transition: all linear 0.2s;


}

.cards-item img {
    margin-top: 45px;

}

.cards-item:hover img {
    transform: scale(1.1);
    animation: images 1s infinite;

}

@keyframes images {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }


}

.cards-item span {
    margin-top: 10px auto;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.cards-item p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;

}
/* Some Facts End */

/* Our Sponspors Start */
.sponspors-section {

    margin-top: 180px;
}

.Sponspors-heading {
    text-align: center;

}

.sponspors-description {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    height: 52px;
    left: 689px;
    margin: 30px auto;
}

.sponspors-logos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.sponspors-logos img {
    height: 50px;
    left: 562px;
    filter: grayscale(100%);
}
/* Our Sponspors End */

/* footer section Start */
.footer {
    margin-top: 130px;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;


}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    padding: 25px;
}
/* footer section End */

/* Responsive section */
@media only screen and (max-width:688px) {

    .nav-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-item ul {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-right: 80px;


    }

    .banner-title {
        font-size: 22px;
        line-height: 30px;
    }

    .banner-description {
        font-weight: 400;
        font-size: 16px;

    }

    .banner-img {
        width: 100%;
        height: 300px;

        border-radius: 8px;
    }

    .quick-ours-features {
        flex-direction: column;

    }

    .ours-feature-img {

        grid-template-columns: repeat(1, 1fr);
    }

    .our-features-item {
        text-align: center;
    }

    .love-and-enjoy {
        flex-direction: column;
    }

    .love-and-enjoy-img {
        max-width: 100%;
        height: 300px;

    }

    .love-and-enjoy-img img {
        height: 100%;


    }
    .btn{
        height: 100px;
        width: 203px;
        margin-left: 84px;
        font-size: 10px;
        font-weight: 20px   ;
    }
    .btn span {
      
        font-weight: 700;
        font-size: 40px;
      
    }
    
    .btn p {
        font-weight: 500;
        font-size: 20px;
        
    
    }

    .fact-top-item{
        text-align: center;
    }
    .facts-description {
     width: 360px;
      
    }

    .fact-cards {
        flex-direction: column;
        align-items: center;
    }

    .sponspors-logos {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer-description {
        font-weight: 300;
        font-size: 20px;
        padding: 15px;
        margin-bottom: 0;
    }


}
/* Responsive section */